@keyframes soon {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 25px;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes wiggle {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 244px;
  background-color: #579C87;
  width: 100%;
  border-bottom: solid #74AA85 1px;
}
.header__title {
  font-size: 6.5rem;
  font-weight: bold;
  color: #FDCB46;
}

@media screen and (max-width: 576px) {
  .header {
    min-height: 150px;
  }
  .header__title {
    font-size: 4rem;
  }
}
.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 2200px;
  width: 85%;
}
.menus__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 1698px;
}
.menus__list a {
  font-weight: none;
  font-style: none;
  text-decoration: none;
  color: none;
}
.menus__list__top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
.menus__list__top__menu {
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.25);
  height: 758px;
  width: 536px;
}
.menus__list__top__menu:hover h2, .menus__list__top__menu:hover h3 {
  animation: zoom both ease-in-out 1000ms;
}
.menus__list__top .menu1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FCDFDB;
  color: #3D1319;
  margin-bottom: 2rem;
}
.menus__list__top .menu1 h2 {
  font-family: "Devonshire", cursive;
  font-size: 3rem;
  height: 83px;
}
.menus__list__top .menu1 h3 {
  font-family: "Sriracha", cursive;
  font-size: 4rem;
  height: 45px;
}
.menus__list__top .menu2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF5FE;
}
.menus__list__top .menu2 h2 {
  font-family: "Croissant One", cursive;
  font-size: 2.2rem;
  height: 76px;
  background: linear-gradient(to bottom right, #EAA144, #8F5AFF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.menus__list__top .menu2 h3 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  height: 43px;
  color: #C77412;
}
.menus__list__bot {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
.menus__list__bot__menu {
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.25);
  height: 758px;
  width: 536px;
}
.menus__list__bot__menu:hover h2, .menus__list__bot__menu:hover h3 {
  animation: zoom both ease-in-out 1000ms;
}
.menus__list__bot .menu3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
  margin-bottom: 2rem;
}
.menus__list__bot .menu3 h2 {
  font-size: 3.3rem;
  font-family: "Parisienne", cursive;
  height: 93px;
  background: linear-gradient(to bottom right, #0526DB, #5BAEFB);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.menus__list__bot .menu3 h3 {
  font-size: 3.9rem;
  font-family: "Sriracha", cursive;
  color: #0887FB;
  height: 65px;
}
.menus__list__bot .menu4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FDFFFD;
}
.menus__list__bot .menu4 h2 {
  font-size: 3.2rem;
  font-family: "Kaushan Script", cursive;
  height: 93px;
  background: linear-gradient(to bottom right, #3E923A, #BEFF7F);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.menus__list__bot .menu4 h3 {
  color: #72BF56;
  font-size: 3.9rem;
  font-family: "Sriracha", cursive;
  height: 51px;
}
.menus__soon {
  width: 41rem;
  height: 7.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #579C87;
  color: #FDCB46;
  font-size: 4rem;
  border-radius: 1.4rem;
  margin-bottom: 15.3rem;
}
.menus__soon__point {
  animation: soon backwards infinite ease-in-out 1000ms;
  animation-direction: alternate;
}
.menus__soon__point--2ndPoint {
  animation-delay: 333.3333333333ms;
}
.menus__soon__point--3thPoint {
  animation-delay: 666.6666666667ms;
}

@media screen and (max-width: 1200px) {
  .menus {
    height: 3750px;
  }
  .menus__list {
    height: 3200px;
  }
}
@media screen and (max-width: 768px) {
  .menus__soon {
    width: 500px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  #nom_menu1 {
    font-size: 2rem;
  }
  #nom_menu1 + h3 {
    font-size: 3rem;
  }

  #nom_menu2 {
    font-size: 1.5rem;
  }
  #nom_menu2 + h3 {
    font-size: 3rem;
  }

  #nom_menu3 {
    font-size: 2rem;
  }
  #nom_menu3 + h3 {
    font-size: 3rem;
  }

  #nom_menu4 {
    font-size: 2rem;
  }
  #nom_menu4 + h3 {
    font-size: 3rem;
  }

  .menus {
    height: 2552px;
  }
  .menus__list {
    height: 2139px;
  }
  .menus__list__top__menu {
    height: 500px;
    width: 300px;
  }
  .menus__list__bot__menu {
    height: 500px;
    width: 300px;
  }
  .menus__soon {
    width: 250px;
    font-size: 2rem;
    margin-bottom: 200px;
  }
}
.footer {
  width: 100%;
  height: 136px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  background-color: #579C87;
  border-top: solid #74AA85 1px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer__content {
  color: #FDCB46;
  font-size: 3.2rem;
  padding: 0 48px 0 40px;
  animation: wiggle both infinite cubic-bezier(0.4, 0.1, 0.6, 0.9) 1000ms;
}

@media screen and (max-width: 992px) {
  .footer p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .footer__content {
    font-size: 1.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
