body{
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
    width: 100%;
    margin-right: 0;
}

.menu-name{
    margin: 11rem 0 1rem 0;
    font-size:3.5rem ;
    font-weight: bold; 
    text-align: center;
}

.menu2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 1434px;
    min-width: 80%;
    padding-bottom: 150px;
    margin-bottom: 137px;
    background: $background-color_menu2;

    &__header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin-top: 179px;

        &__name{
            font-family: 'Croissant One', cursive;
            font-size: 3.55rem;
            min-height: 76px;
            text-align: center;

            background: linear-gradient(to bottom right , #EAA144, #8F5AFF);
            color:transparent;
            background-clip: text;
            -webkit-background-clip:text;
        }
    }


    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        min-height: 1071px;
        
        &__starter{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            min-width: 1099px;
            min-height: 260px;
            margin-top: 53px;
            color: $f-color_menu2;


            &__title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                min-width: 1099px;

                &__line{
                    &.--right{
                        transform: scaleX(-1);
                    }
                }

                &__h2{
                    font-size: 2rem;
                    font-family: 'Noto Serif', serif;
                    text-align: center;
                    &::after {
                        content: "";
                        transform: scaleX(0);
                        transform-origin: 0% 50%;
                        width: 100%;
                        height: 2px;
                        background-color: $f-color_menu2;
                        display: block;
                        transition: transform 450ms;
                    }
                    
                    &:hover {
                        
                        &::after {
                            transform: scaleX(1);
                        }
                    }    
                }
            }

            &__list{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                min-width: 937px;
                min-height: 168px;


                &__element{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    min-width: 844px;


                    &__name{
                        font-family: 'Noto Serif', serif;
                        font-size: 1.47rem;
                    }

                    &__price{
                        font-family: 'Noto Serif', serif;
                        font-size: 1.7rem;
                        letter-spacing: 3px;
                    }
                }
            }
        }

        &__main-course{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            min-width: 1099px;
            min-height: 273px;
            margin-top: 94px;
            color: $f-color_menu2_middle;

            &__title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                min-width: 1099px;

                &__line{
                    &.--right{
                        transform: scaleX(-1);
                    }
                }

                &__h2{
                    font-size: 2rem;
                    font-family: 'Noto Serif', serif;
                    text-align: center;
                    &::after {
                        content: "";
                        transform: scaleX(0);
                        transform-origin: 0% 50%;
                        width: 100%;
                        height: 2px;
                        background-color: $f-color_menu2_middle;
                        display: block;
                        transition: transform 450ms;
                    }
                    
                    &:hover {
                        
                        &::after {
                            transform: scaleX(1);
                        }
                    }    
                }
            }

            &__list{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                min-width: 937px;
                min-height: 193px;

                &__element{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    min-width: 844px;

                    &__name{
                        font-family: 'Noto Serif', serif;
                        font-size: 1.47rem;
                    }

                    &__price{
                        font-family: 'Noto Serif', serif;
                        font-size: 1.7rem;
                        letter-spacing: 3px;
                    }
                }
            }
        }

        &__dessert{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            min-width: 1099px;
            min-height: 276px;
            margin-top: 80px;
            color: $f-color_menu2_bottom;

            &__title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                min-width: 1099px;

                &__line{
                    &.--right{
                        transform: scaleX(-1);
                    }
                }

                &__h2{
                    font-size: 2rem;
                    font-family: 'Noto Serif', serif;
                    text-align: center;
                    &::after {
                        content: "";
                        transform: scaleX(0);
                        transform-origin: 0% 50%;
                        width: 100%;
                        height: 2px;
                        background-color: $f-color_menu2_bottom;
                        display: block;
                        transition: transform 450ms;
                    }      
                    &:hover {
                        &::after {
                            transform: scaleX(1);
                        }
                    }    
                }
            }

            &__list{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                min-width: 937px;
                min-height: 199px;

                &__element{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    min-width: 844px;

                    &__name{
                        font-family: 'Noto Serif', serif;
                        font-size: 1.47rem;
                    }

                    &__price{
                        font-family: 'Noto Serif', serif;
                        font-size: 1.7rem;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
}

@include screen-xl {
    .menu2__body__starter__title, .menu2__body__main-course__title, .menu2__body__dessert__title{
            min-width: 100%;
    }
    .menu2__body__starter, .menu2__body__main-course, .menu2__body__dessert{
        min-width: 100%;
    }
}

@include screen-lg {
    .menu2{
        &__header{
            &__name{
                min-width: 462px;
                font-size: 4rem;
            }
        }

        &__body{
            min-width: 100%;
            
            &__starter{
                min-width: 100%;
                &__title{
                    min-width: 100%;
                    &__h2{
                        font-size: 1.5rem;
                    }
                    &__line{
                        width: 173px;
                    }
                }
                &__list{
                    min-width: 90%;
                    &__element{
                        min-width: 100%;
                        &__name{
                            font-size: 1.2rem;
                        }
                        &__price{
                            font-size:1.5rem;
                        }
                    }
                }
            }
            
            &__main-course{
                min-width: 100%;
                &__title{
                    min-width: 100%;
                    &__h2{
                        font-size: 1.5rem;
                    }
                    &__line{
                        width: 173px;
                    }
                }
                &__list{
                    min-width: 90%;
                    &__element{
                        min-width: 100%;
                        &__name{
                            font-size: 1.2rem;
                        }
                        &__price{
                            font-size:1.5rem;
                        }
                    }
                }
            }
            
            &__dessert{
                min-width: 100%;
                &__title{
                    min-width: 100%;
                    &__h2{
                        font-size: 1.5rem;
                    }
                    &__line{
                        width: 173px;
                    }
                }
                &__list{
                    min-width: 90%;
                    &__element{
                        min-width: 100%;
                        &__name{
                            font-size: 1.2rem;
                        }
                        &__price{
                            font-size:1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@include screen-sm{
    .menu2{
        padding-bottom: 100px;
        min-height: 1343px;
        &__header{
            margin-top: 100px;
            &__name{
                min-width: 295px;
                font-size: 2.5rem;
                min-height: 150px;
            }
        }

        &__body{
            min-width: 320px;
            
            &__starter{
                min-width: 320px;
                &__title{
                    min-width: 320px;
                    &__h2{
                        font-size: 1rem;
                    }
                    &__line{
                        width: 56px;
                    }
                }
                &__list{
                    min-width: 320px;
                    max-width: 320px;
                    &__element{
                        min-width: 320px;
                        max-width: 320px;
                        &__name{
                            font-size: 1rem;
                        }
                        &__price{
                            font-size:1.2rem;
                        }
                    }
                }
            }
            
            &__main-course{
                min-width: 320px;
                &__title{
                    min-width: 320px;
                    &__h2{
                        font-size: 1rem;
                    }
                    &__line{
                        width: 70px;
                    }
                }
                &__list{
                    min-width: 320px;
                    max-width: 320px;
                    &__element{
                        min-width: 320px;
                        max-width: 320px;
                        &__name{
                            font-size: 1rem;
                        }
                        &__price{
                            font-size:1.2rem;
                        }
                    }
                }
            }
            
            &__dessert{
                min-width: 320px;
                &__title{
                    min-width: 320px;
                    &__h2{
                        font-size: 1rem;
                    }
                    &__line{
                        width: 70px;
                    }
                }
                &__list{
                    min-width: 320px;
                    max-width: 320px;
                    &__element{
                        min-width: 320px;
                        max-width: 320px;
                        &__name{
                            font-size: 1rem;
                        }
                        &__price{
                            font-size:1.2rem;
                        }
                    }
                }
            }
        }
    }
}