.menu1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 1634px;
    min-width: 100%;
    margin-bottom: 137px;
    margin-top: 7rem;
    color: $f-color_menu1;
    background: $background-color_menu1;

    &__header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        min-height: 211px;
        margin-top: 87px;

        &__logo{
            height:116px;
            width:110px;
        }

        &__name{
            font-family: 'Devonshire', cursive;
            font-size: 4.7rem;
            text-align: center;
        }
    }

    &__starter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        min-width: 937px;
        min-height: 332px;
        margin-top: 41px;

        &__title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-width: 937px;

            &__h2{
                font-size: 2.4rem;
                font-family: 'Sriracha', cursive;
                text-align: center;
                &::after {
                    content: "";
                    transform: scaleX(0);
                    transform-origin: 0% 50%;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    display: block;
                    transition: transform 450ms;
                }
                
                &:hover {
                    
                    &::after {
                        transform: scaleX(1);
                    }
                }    
            }
        }

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            min-width: 937px;
            min-height: 243px;


            &__element{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                min-width: 937px;

                &__name{
                    font-family: 'Sriracha', cursive;
                    font-size: 1.72rem;
                }

                &__price{
                    font-family: 'Sriracha', cursive;
                    font-weight: bold;
                    font-size: 1.72rem;
                    letter-spacing: 4px;
                }
            }
        }
    }

    &__main-course{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        min-width: 937px;
        min-height: 276px;
        margin-top: 102px;

        &__title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-width: 937px;

            &__h2{
                font-size: 2.4rem;
                font-family: 'Sriracha', cursive;
                text-align: center;
                &::after {
                    content: "";
                    transform: scaleX(0);
                    transform-origin: 0% 50%;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    display: block;
                    transition: transform 450ms;
                }
                &:hover {   
                    &::after {
                        transform: scaleX(1);
                    }
                }    
            }
        }

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            min-width: 937px;
            min-height: 187px;

            &__element{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                min-width: 937px;

                &__name{
                    font-family: 'Sriracha', cursive;
                    font-size: 1.72rem;
                }

                &__price{
                    font-family: 'Sriracha', cursive;
                    font-weight: bold;
                    font-size: 1.72rem;
                    letter-spacing: 4px;
                }
            }
        }
    }

    &__dessert{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        min-width: 937px;
        min-height: 286px;
        margin-top: 80px;

        &__title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-width: 937px;

            &__h2{
                font-size: 2.4rem;
                font-family: 'Sriracha', cursive;
                text-align: center;
                
                &::after {
                    content: "";
                    transform: scaleX(0);
                    transform-origin: 0% 50%;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    display: block;
                    transition: transform 450ms;
                }
                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }    
            }
        }

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            min-width: 937px;
            min-height: 192px;

            &__element{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                min-width: 937px;

                &__name{
                    font-family: 'Sriracha', cursive;
                    font-size: 1.72rem;
                }

                &__price{
                    font-family: 'Sriracha', cursive;
                    font-weight: bold;
                    font-size: 1.72rem;
                    letter-spacing: 4px;
                }
            }
        }
    }

    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        min-width:397px ;
        min-height: 237px;
    

        &__logo{
            height:71px;
            width:66px;
        }

        &__name{
            font-family: 'Devonshire', cursive;
            font-size: 3.6rem;
        }
    }
}

@include screen-xl {
    .menu1__body__starter__title, .menu1__body__main-course__title, .menu1__body__dessert__title{
            min-width: 1000px;
    }
}

@include screen-lg {
    .menu1{
        min-width: 100%;
        &__header{
            &__name{
                min-width: 462px;
                font-size: 4rem;
            }
        }
        
        &__starter{
            min-width: 90%;
            &__title{
                min-width: 100%;
                &__line{
                    width: 222px;
                }
            }
            &__list{
                min-width: 90%;
                &__element{
                    min-width: 100%;
                    &__name{
                        font-size: 1.2rem;
                    }
                    &__price{
                        font-size:1.5rem;
                    }
                }
            }
        }
        
        &__main-course{
            min-width: 90%;
            &__title{
                min-width: 100%;
                &__line{
                    width: 222px;
                }
            }
            &__list{
                min-width: 90%;
                &__element{
                    min-width: 100%;
                    &__name{
                        font-size: 1.2rem;
                    }
                    &__price{
                        font-size:1.5rem;
                    }
                }
            }
        }
        
        &__dessert{
            min-width: 90%;
            &__title{
                min-width: 100%;
                &__line{
                    width: 222px;
                }
            }
            &__list{
                min-width: 90%;
                &__element{
                    min-width: 100%;
                    &__name{
                        font-size: 1.2rem;
                    }
                    &__price{
                        font-size:1.5rem;
                    }
                }
            }
        }
    }
}

@include screen-sm{
    .menu1{
        padding-bottom: 100px;
        min-width: 100%;
        &__header{
            margin-top: 100px;
            &__name{
                min-width: 222px;
                font-size: 2.5rem;
            }
        }
        
        &__starter{
            min-width: 320px;
            &__title{
                min-width: 320px;
                &__h2{
                    font-size: 1.5rem;
                }
                &__line{
                    width: 80px;
                }
            }
            &__list{
                min-width: 320px;
                max-width: 320px;
                &__element{
                    min-width: 320px;
                    max-width: 320px;
                    &__name{
                        font-size: 1rem;
                    }
                    &__price{
                        font-size:1.2rem;
                    }
                }
            }
        }
        
        &__main-course{
            min-width: 320px;
            &__title{
                min-width: 320px;
                &__h2{
                    font-size: 1.5rem;
                }
                &__line{
                    width: 80px;
                }
            }
            &__list{
                min-width: 320px;
                max-width: 320px;
                &__element{
                    min-width: 320px;
                    max-width: 320px;
                    &__name{
                        font-size: 1rem;
                    }
                    &__price{
                        font-size:1.2rem;
                    }
                }
            }
        }
        
        &__dessert{
            min-width: 320px;
            &__title{
                min-width: 320px;
                &__h2{
                    font-size:1.2rem;
                }
                &__line{
                    width: 80px;
                }
            }
            &__list{
                min-width: 320px;
                max-width: 320px;
                &__element{
                    min-width: 320px;
                    max-width: 320px;
                    &__name{
                        font-size: 1rem;
                    }
                    &__price{
                        font-size:1.2rem;
                    }
                }
            }
        }

        &__footer{
            min-width: 314px;
            &__name{
                font-size: 2.6rem;
            }
        }
    }
}
