@keyframes soon{
    0%{
        margin-bottom: 0px;
    }
    100%{
        margin-bottom: 25px;
    }
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.15);
    }
}

@keyframes wiggle{
    25%{
        transform: translateX(2%);
    }

    75%{
        transform: translateX(2% * -1);
    }
}