.header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: $main-color;
    width: 100%;

    &__title{
        font-size: 3rem;
        color: yellow;
    }
}   