.header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 122px;
    background-color: $main-color;
    width: 100%;
    border-bottom: solid $border-color 1px;

    position: fixed;
    top:0;
	left:0;

    &__title{
        font-size: 3.25rem;
        font-weight: bold; 
        color: $secondary-color;
    }
}   

@include screen-sm {
    .header{
        min-height: 75px;

        &__title{
            font-size: 2rem;
        }
    }
}
